# Core Framework
fastapi>=0.111.0,<1.0.0
uvicorn[standard]>=0.29.0,<1.0.0

# Database
sqlalchemy~=2.0.29

# Validation and Settings
email-validator>=2.0.0,<3.0.0  # Required by Pydantic's EmailStr
pydantic>=2.7.0,<3.0.0
pydantic-settings>=2.2.0,<3.0.0

# Testing
httpx>=0.27.0,<1.0.0  # Required by FastAPI's TestClient
pytest>=8.0.0,<9.0.0